# Globais do Projeto
CI_ENVIRONMENT=development
APP_BASE_URL='http://localhost:8080/'

# Credenciais Únicas
DB_HOST=db
DB_NAME=nome_base
DB_USER=seu_usuario
DB_PASS=sua_senha
DB_PORT=5432

# Mapeamento interno do CodeIgniter (reaproveitando as de cima)
database.default.hostname = ${DB_HOST}
database.default.database = ${DB_NAME}
database.default.username = ${DB_USER}
database.default.password = ${DB_PASS}
database.default.DBDriver = Postgre
database.default.port = ${DB_PORT}