# Docker / Postgres
POSTGRES_DB=todo_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sua_senha_aqui
POSTGRES_PORT=5432

# CodeIgniter Configs
CI_ENVIRONMENT=development
app.baseURL='http://localhost:8080/'